<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="threads" value="10" />
    <add key="url" value="http://localhost:8080" />
    <add key="users" value="eh13hd10102,eirji41a1a3,n1312uheeef,8csondp1d1d5,3nj13bbbb8,usdfuh823a109,ej14a4e,wdj1e0febec,dsjkfdsf213e0df,123423dwe1e8,0k01kfka7aa,2dkwd0k1303a,dkowdsk100a,00owo30100,kxsak01aab6,kadsd0k10002,z10A3414bfd0,dwqerqw-er1a1a0,d1d14334e2af" />
    <add key="patterns" value="{0},{0}/healthcheck.aspx,{0}/Home/About,{0}/Home/Contact,{0}/{1}/devices,{0}/{1}/devices,{0}/{1}/devices,{0}/{1}/{2}/status,{0}/{1}/{2}/status,{0}/{1}/{2}/updatesettings,{0}/{1}/{2}/settings,{0}/ajax/daily/{1}/{2},{0}/ajax/weekly/{1}/{2},{0}/ajax/ondemand/{1}/{2}" />
    <add key="loginUrl" value="{0}/login.aspx"/>
    <add key="logingHeaders" value=",1,2,3"/>
  </appSettings>
</configuration>